html,
body {
    height: 100%;
}

.searchBar {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 70%;
    background-color: #fff;
    min-width: 380px;
    border: none;
}

.leaflet-left {
    width: 100%;
}

input:focus {
    box-shadow: none !important;
}