html,
body {
    height: 100%;
    color: #3c3c3c !important;
}

button {
    color: #3c3c3c !important;
}

.searchBar {
    background-color: #fff;
    min-width: 380px;
}
.searchBar:hover, .searchBar:focus-within {
    box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.2) !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
    width: 76% !important;
}

.leaflet-left {
    width: 100%;
}

input {
    cursor: default !important;
}

input:focus {
    box-shadow: none !important;
}

.seperator {
    display: inline-block;
    width: 1px;
    height: 24px;
    background : #e5e5e5;
}

.mb-sm {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20;
}